.anime-card-container {
    position: relative;
    width: 220px;
    box-sizing: border-box;
}

.anime-art-container {
    width: 100%;
    height: auto;
}

.anime-art-container img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    cursor: pointer;
}

.anime-title {
    font-weight: bold;
}

.anime-categories {
    margin-top: 5px;
}

.anime-card-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
