html {
    background-color: #131928;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}

/* Main layout */

.app-container {
    width: 100%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}

/* Home */

.home-container {
    display: flex;
    flex-direction: column;
}

.home-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #282d43cc;
    border-radius: 10px;
    padding: 10px 40px;
}

.logo {
    height: 40px;
}

.filters-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.favorite-img {
    width: 25px;
}

.search-img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta el valor según sea necesario para alinear la imagen */
    transform: translateY(-50%);
    height: auto;
}

.anime-filter-container {
    position: relative;
    padding: 5px;
}
.input-container {
    position: relative;
    display: inline-block;
}

.anime-filter-input {
    width: 200px;
    color: white;
    border: none;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #131928;
    padding-left: 40px;
}

.home-anime-list-container {
}
